
.chart-container {
  display: flex;
  justify-content: center;
}

canvas {
  max-width: 70px;
  max-height: 70px;
}

.macro-balance{
  color: var(--border);
  font-size: x-small;
  margin: 0;
  position: absolute;
  top: 32px;
}
