.sidebar-wrapper{
  background-color: var( --dark-grey-secondary);
  height: 100vh;
  border-radius: 5px;

}

.sidebar{
  padding: 5px;
  display: grid;
  row-gap: 10px ;
}

.my-btn, .my-btn-selected{
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--border);
  font-size:larger;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.my-btn:hover{
  outline: none;
  border: none;
  background-color: var(--dark-grey-secondary);
  color: white;
  font-size:larger;
}


