.meal-planner
{
  width: 80%;
  height: auto;
  border:1px solid white;
  border-radius:5px;
  padding: 5px;
  margin: auto;
  color: white
}

.meal-planner-header{
  width: 100%;
  padding: 5px;
  display: grid;
    grid-template-columns: 50% 10% 40%;
}

.responsive-text{
  font-size: 1rem;
  justify-content: center;
  
  }

.macro{
  background-color: #AAFF00;
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
}

.macros{
  float: right;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-end{
  display: flex;
  justify-content: end;
  align-items: center;
}

.remove-meal{
  background: none;
  border:none;
  color: white;
  float: right;
}



.food-container{
  border: 1px solid white;
  border-radius:5px;
  padding: 5px;
}

.add-food{
  width: 100%;
  border-radius: 5px;
}


