<!-- <h1>{{user | json}}</h1>

<h2>{{user.diet|json}}</h2>

<h2>{{user.diet.meals|json}}</h2> -->
<div class="client-diet">
  <div class="client-diet-header">
    <h2>{{user.diet.name}}</h2>
  </div>

  <div *ngFor="let meal of user.diet.meals" class="client-diet-meal mb-3">
    <div class="meal-header">
      {{meal.name}}
    </div>
    <div class="meal-container">
      <table>
        <tr>
          <th>Alimento</th>
          <th>Quantidade</th>
        </tr>
        <tr  *ngFor="let food of meal.foods">
          <td>{{food.name}}</td>
          <td>{{food.quantidade}}</td>
        </tr>

      </table>
    </div>
  </div>

</div>
