.food-info-wrapper{
  display: flex;
  align-items:center;
  padding: 10px;
  background-color: #343434;
  margin-bottom: 5px;
  width:100%;
  border-radius: 15px;
  overflow: hidden;
}



.flex-end{
  display: flex;
  justify-content: end;
  align-items: center;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group{
  width:150px;
  height: 100%;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field input {
  height: 20px;
  transition: height ease-in-out 400ms;
}

.mat-form-field input:focus {
  height: 50px;
  transition: height ease-in-out 400ms;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
  border-radius: 0px !important;
}

