<div class="toolbar-container" *ngIf="user">

  <div class="client-info-container">
    <div class="avatar">
      <img src="../../../assets/avatar.jpg" alt="">
      <div>
        <div class="client-name">
          Carolina Machado
        </div >
        <div class="client-type">Lifestyle Client</div>
      </div>
    </div>

<div class="client-info mt-3">
  <div>Peso: {{user.weight}} kg</div>
  <div>Altura: {{user.height}} m</div>
  <div>Idade: {{user.age}} anos</div>
</div>
  </div>

<!--   <div class="calculation-container">
    <div *ngIf="(tmb$ | async) as tmb; ">
      {{tmb}}
    </div>
  </div> -->



  <div class="macro-distribution">
    <div class="macro-inputs">
      <div>
        <label for="Calories">Calories</label>
        <input type="number" id="calories" class="macro-input" [(ngModel)]="goal.calories">
      </div>

      <div>
        <label for="protein">Protein</label>
        <input type="number" id="protein" class="macro-input" [(ngModel)]="goal.protein">
      </div>

      <div>
        <label for="fats">Fats</label>
        <input type="number" id="fats" class="macro-input" [(ngModel)]="goal.fats">
      </div>

      <div>
        <label for="carbs">Carbs</label>
        <input type="number" id="carbs" class="macro-input" [(ngModel)]="goal.carbs">
      </div>
    </div>
    <div class="chart-container mt-3">
      <app-pie-chart [protein]="goal.protein" [fats]="goal.fats" [carbs]="goal.carbs"></app-pie-chart>
    </div>
  </div>


</div>
