.macros{
  display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.macro{
  background-color: var(--green);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 80px;
}



.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-end{
  display: flex;
  justify-content: end;
  align-items: center;
}

.grid{
  width: 100%;
  display: grid;
  grid-template-columns: 200px 20% 300px 80px;
  grid-gap: 10px;
  align-items: center;
}

.responsive-text{
font-size: 1rem;
}

.form-control{
  min-width: 20px;
  max-width: 50px;
  font-size: 0.8rem;
}

.form-select{
  font-size: 0.8rem;
}

.input-group{
  height: 20px;
}






.icon {
  transition: transform 0.5s ease;
}

@keyframes plusToCheck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkToPlus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
