.topbar-container{
  display:flex;
}

.example-spacer {
  flex: 1 1 auto;
}

.user-not-logged-buttons{
  display:grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}
