oi
<div class="topbar-container" >

  <span> {{title}} </span>
  <span class="example-spacer"></span>
<!--   <div *ngIf="!isUserLoggedIn" class="user-not-logged-buttons">
    <button mat-icon-button class="example-icon favorite-icon" (click)="navigateLogin()">
      Login
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     SignUp
    </button>
  </div> -->
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Loggout
    </button>
  </div>

</div>
